<html>
  <head>
    <title>Event Creator</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="todo-table">
      <a href='/'>Back</a>
      <h2>Events</h2>
      <ul class='public'>
        <% for (var i = 0; i < events.length; i++) { %>
          <li id=<%= events[i].id %> ><em><strong>Title:</strong> <%= events[i].title %></em>
            <p><strong>Desc:</strong> <%= events[i].description %></p>
            <p><strong>Location:</strong> <%= events[i].location %></p>
            <p><strong>Time:</strong> <%= events[i].time %></p>
            <p><strong>Image:</strong> <%= events[i].image %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
